:root {
  --bg: #f3f4f6;
  --card-bg: #ffffff;
  --text: #111827;
  --subtext: #6b7280;
  --chip-bg: #E6EEF8;
  --button-bg: #2563eb;
  --button-text: #ffffff;
  --border: #e5e7eb;
}

.dark {
  --bg: #0f172a;
  --card-bg: #1e293b;
  --text: #f1f5f9;
  --subtext: #94a3b8;
  --chip-bg: #334155;
  --button-bg: #3b82f6;
  --button-text: #ffffff;
  --border: #334155;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  transition: background 0.25s ease, color 0.25s ease;
  padding: 10px;
}

.app-wrapper {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  
}

.toggleBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--chip-bg);
  border-radius: 20px;
  border: none;
  color: var(--text);
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.25s ease, color 0.25s ease, transform 0.2s ease;
}

.toggleBtn:hover {
  transform: translateY(-1px);
  transition: background-color 0.25s ease, color 0.25s ease, transform 0.2s ease;
}

.toggleIcon {
  width: 16px;
  height: 16px;
}

.portfolio-card{
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.25s ease, border-color 0.25s ease;
}

